<h1 id="tutorial-on-how-to-use-dvc-and-mlflow">Tutorial on how to use DVC and MLFlow <!-- omit in toc --></h1>
<p>The code for this tutorial can be found <a href="https://github.com/isuruwg/dvc-and-mlflow-tutorial">here</a></p>
<h1 id="contents">Contents <!-- omit in toc --></h1>
<ul>
<li><a href="#1-introduction">1. Introduction</a>
<ul>
<li><a href="#11-environment-setup">1.1. Environment setup</a></li>
<li><a href="#12-initialize-dvc">1.2. Initialize DVC</a></li>
<li><a href="#13-configure-remote-storage">1.3. Configure remote storage</a></li>
<li><a href="#14-copy-some-data-and-let-dvc-manage-it">1.4. Copy some data and let dvc manage it</a></li>
<li><a href="#15-fetching-data-from-remote">1.5. Fetching data from remote</a></li>
<li><a href="#16-modifying-data">1.6. Modifying data</a></li>
<li><a href="#17-using-different-data-versions">1.7. Using different data versions</a>
<ul>
<li><a href="#171-in-python">1.7.1. In python</a></li>
<li><a href="#172-using-dvc-command-line">1.7.2. Using dvc command line</a></li>
</ul></li>
<li><a href="#18-usage-with-mlflow">1.8. Usage with MLFlow</a></li>
</ul></li>
<li><a href="#2-appendix">2. Appendix</a>
<ul>
<li><a href="#21-setting-up-python-environment-from-scratch">2.1. Setting up Python environment from scratch</a></li>
<li><a href="#22-setting-up-gsutil-if-you-are-using-gcp-storage-as-a-remote">2.2. Setting up gsutil if you are using GCP storage as a remote</a></li>
</ul></li>
<li><a href="#3-references">3. References</a></li>
</ul>
<h1 id="introduction">1. Introduction</h1>
<p>This introductory tutorial will walk you through how to track different versions of your datasets using DVC and experiments (hyperparameters, results, datasets used, etc.) using MLFlow. This walkthrough is designed to give a quick idea of how to use both these tools. However, since there are some overlaps in the features of DVC and MLFlow, you can use just one tool or the other for your applications too to achieve similar results.</p>
<p>This is based on <a href="https://www.youtube.com/watch?v=W2DvpCYw22o&amp;t">Data Versioning and Reproducible ML with DVC and MLflow - Youtube</a>.</p>
<p>Please refer to the <a href="https://dvc.org/doc/start">dvc</a> and <a href="https://www.mlflow.org/docs/latest/tutorials-and-examples/tutorial.html">mlflow</a> official tutorials for more info.</p>
<h2 id="environment-setup">1.1. Environment setup</h2>
<p>This tutorial was tested with Python 3.9.2.</p>
<p>Create virtual environment:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a><span class="ex">python</span> -m venv venv</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="bu">.</span> <span class="ex">./venv/bin/activate</span></span></code></pre></div>
<p>Install requirements:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="ex">pip</span> install -r requirements.txt</span></code></pre></div>
<h2 id="initialize-dvc">1.2. Initialize DVC</h2>
<p>This guide assumes you are already inside a git repo. If not, please initialize a git repo by doing <code>git init</code> or some other method.</p>
<p>Run:</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="ex">dvc</span> init</span></code></pre></div>
<p>This initializes dvc and also adds some of the newly created files to git staging.</p>
<p>If you run <code>git status</code> it’ll show something like:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a><span class="ex">Changes</span> to be committed:</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true"></a>  <span class="kw">(</span><span class="ex">use</span> <span class="st">&quot;git restore --staged &lt;file&gt;...&quot;</span> to unstage<span class="kw">)</span></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/.gitignore</span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/config</span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/confusion.json</span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/confusion_normalized.json</span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/default.json</span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/linear.json</span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/scatter.json</span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvc/plots/smooth.json</span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true"></a>        <span class="ex">new</span> file:   .dvcignore</span></code></pre></div>
<h2 id="configure-remote-storage">1.3. Configure remote storage</h2>
<p>Reference: <a href="https://dvc.org/doc/command-reference/remote/add">dvc <code>add</code></a></p>
<p>The remote storage in dvc can be <code>s3</code>, <code>gs</code>, <code>gdrive</code>, etc. For this example we’ll use a local folder <code>~/tmp/dvc-storage</code> for simplicity.</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true"></a><span class="co"># We&#39;ll add a location inside a local ~/tmp folder for testing </span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true"></a><span class="ex">dvc</span> remote add -d dvc-remote ~/tmp/dvc-storage</span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true"></a><span class="co"># You can also add GCP or other remote storage as the remote.</span></span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true"></a><span class="co"># Please refer to https://dvc.org/doc/command-reference/remote/add </span></span></code></pre></div>
<p>This adds the following to the .dvc/config file</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode ini"><code class="sourceCode ini"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true"></a><span class="kw">[core]</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true"></a><span class="dt">    remote </span><span class="ot">=</span><span class="st"> dvc-remote</span></span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true"></a><span class="kw">[&#39;remote &quot;dvc-remote&quot;&#39;]</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true"></a><span class="dt">    url </span><span class="ot">=</span><span class="st"> /home/isuru/tmp/dvc-storage</span></span></code></pre></div>
<p>If you would like to add a remote storage like GCP, you can do so by:</p>
<div class="sourceCode" id="cb7"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true"></a><span class="ex">dvc</span> remote add -d gcp_bucket gs://dvc-mlflow-bucket</span></code></pre></div>
<h2 id="copy-some-data-and-let-dvc-manage-it">1.4. Copy some data and let dvc manage it</h2>
<p>Let’s now copy some data to a local folder <code>data/</code></p>
<div class="sourceCode" id="cb8"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true"></a><span class="fu">mkdir</span> data</span></code></pre></div>
<p>Copy an example file;</p>
<p>For this we’ll copy <a href="https://github.com/mlflow/mlflow/blob/master/examples/sklearn_elasticnet_wine/wine-quality.csv">wine-quality.csv example file from mlflow</a> into the <a href="data/">data/</a> folder.</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true"></a><span class="fu">wget</span> --directory-prefix=data/ https://raw.githubusercontent.com/mlflow/mlflow/master/examples/sklearn_elasticnet_wine/wine-quality.csv</span></code></pre></div>
<p>Add the file to dvc:</p>
<div class="sourceCode" id="cb10"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true"></a><span class="ex">dvc</span> add data/wine-quality.csv</span></code></pre></div>
<p>DVC creates a <a href="data/wine-quality.csv.dvc">wine-quality.csv.dvc</a> file and also adds a <a href="data/.gitignore">.gitignore</a> file inside the <code>data/</code> folder.</p>
<p>Let’s also add a git tag to make it easier to track the data versions through git:</p>
<div class="sourceCode" id="cb11"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true"></a><span class="co"># Add and commit:</span></span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true"></a><span class="fu">git</span> add data/wine-quality.csv.dvc data/.gitignore</span>
<span id="cb11-3"><a href="#cb11-3" aria-hidden="true"></a><span class="fu">git</span> commit -m <span class="st">&quot;data: track&quot;</span></span>
<span id="cb11-4"><a href="#cb11-4" aria-hidden="true"></a></span>
<span id="cb11-5"><a href="#cb11-5" aria-hidden="true"></a><span class="fu">git</span> tag -a <span class="st">&#39;v1&#39;</span> -m <span class="st">&#39;raw data&#39;</span></span></code></pre></div>
<p>Now let’s sync our local data with our remote:</p>
<div class="sourceCode" id="cb12"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb12-1"><a href="#cb12-1" aria-hidden="true"></a><span class="ex">dvc</span> push</span></code></pre></div>
<p>Let’s now see what’s inside our remote</p>
<div class="sourceCode" id="cb13"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true"></a><span class="fu">ls</span> -lR ~/tmp/dvc-storage/</span></code></pre></div>
<p>This gives:</p>
<div class="sourceCode" id="cb14"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb14-1"><a href="#cb14-1" aria-hidden="true"></a><span class="ex">/home/user/tmp/dvc-storage</span>/:</span>
<span id="cb14-2"><a href="#cb14-2" aria-hidden="true"></a><span class="ex">total</span> 4</span>
<span id="cb14-3"><a href="#cb14-3" aria-hidden="true"></a><span class="ex">drwxrwxr-x</span> 2 user user 4096 Apr 13 14:47 5d</span>
<span id="cb14-4"><a href="#cb14-4" aria-hidden="true"></a></span>
<span id="cb14-5"><a href="#cb14-5" aria-hidden="true"></a><span class="ex">/home/user/tmp/dvc-storage</span>/5d:</span>
<span id="cb14-6"><a href="#cb14-6" aria-hidden="true"></a><span class="ex">total</span> 260</span>
<span id="cb14-7"><a href="#cb14-7" aria-hidden="true"></a><span class="ex">-r--r--r--</span> 1 user user 264426 Apr 13 14:47 6f24258e3c50bb01a61194b5401f5d</span></code></pre></div>
<p>Now, we can remove the local data if required:</p>
<div class="sourceCode" id="cb15"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb15-1"><a href="#cb15-1" aria-hidden="true"></a><span class="fu">rm</span> -rf data/wine-quality.csv</span>
<span id="cb15-2"><a href="#cb15-2" aria-hidden="true"></a><span class="co"># Let&#39;s remove the data from .dvc/cache too</span></span>
<span id="cb15-3"><a href="#cb15-3" aria-hidden="true"></a><span class="fu">rm</span> -rf .dvc/cache</span></code></pre></div>
<h2 id="fetching-data-from-remote">1.5. Fetching data from remote</h2>
<p>Since we deleted our data in the section above, we can bring them back from remote using <code>dvc pull</code></p>
<div class="sourceCode" id="cb16"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb16-1"><a href="#cb16-1" aria-hidden="true"></a><span class="ex">dvc</span> pull</span></code></pre></div>
<h2 id="modifying-data">1.6. Modifying data</h2>
<div class="sourceCode" id="cb17"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb17-1"><a href="#cb17-1" aria-hidden="true"></a><span class="co"># Let&#39;s do a simple modification to our csv file</span></span>
<span id="cb17-2"><a href="#cb17-2" aria-hidden="true"></a><span class="fu">sed</span> -i <span class="st">&#39;2,1001d&#39;</span> data/wine-quality.csv</span>
<span id="cb17-3"><a href="#cb17-3" aria-hidden="true"></a><span class="co"># let&#39;s check dvc status</span></span>
<span id="cb17-4"><a href="#cb17-4" aria-hidden="true"></a><span class="ex">dvc</span> status</span></code></pre></div>
<p><code>dvc status</code> command shows that our file was changed:</p>
<div class="sourceCode" id="cb18"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb18-1"><a href="#cb18-1" aria-hidden="true"></a><span class="ex">data</span>/wine-quality.csv.dvc:                                            </span>
<span id="cb18-2"><a href="#cb18-2" aria-hidden="true"></a>        <span class="ex">changed</span> outs:</span>
<span id="cb18-3"><a href="#cb18-3" aria-hidden="true"></a>                <span class="ex">modified</span>:           data/wine-quality.csv</span></code></pre></div>
<p>Now let’s add the new data file to dvc:</p>
<div class="sourceCode" id="cb19"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb19-1"><a href="#cb19-1" aria-hidden="true"></a><span class="ex">dvc</span> add data/wine-quality.csv</span></code></pre></div>
<p>Now let’s do a git commit:</p>
<div class="sourceCode" id="cb20"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb20-1"><a href="#cb20-1" aria-hidden="true"></a><span class="fu">git</span> add data/wine-quality.csv.dvc</span>
<span id="cb20-2"><a href="#cb20-2" aria-hidden="true"></a><span class="fu">git</span> commit -m <span class="st">&quot;data: remove 1000 lines&quot;</span></span></code></pre></div>
<p>Let’s also add a git tag:</p>
<div class="sourceCode" id="cb21"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb21-1"><a href="#cb21-1" aria-hidden="true"></a><span class="fu">git</span> tag -a <span class="st">&#39;v2&#39;</span> -m <span class="st">&#39;removed 1000 lines&#39;</span></span></code></pre></div>
<p>Let’s also push our data to remote storage:</p>
<div class="sourceCode" id="cb22"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb22-1"><a href="#cb22-1" aria-hidden="true"></a><span class="ex">dvc</span> push</span></code></pre></div>
<p>Also remember to push your tag to the remote repo by doing <code>git push --tags</code>.</p>
<h2 id="using-different-data-versions">1.7. Using different data versions</h2>
<h3 id="in-python">1.7.1. In python</h3>
<div class="sourceCode" id="cb23"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb23-1"><a href="#cb23-1" aria-hidden="true"></a><span class="im">import</span> dvc.api</span>
<span id="cb23-2"><a href="#cb23-2" aria-hidden="true"></a></span>
<span id="cb23-3"><a href="#cb23-3" aria-hidden="true"></a>data_url <span class="op">=</span> dvc.api.get_url(</span>
<span id="cb23-4"><a href="#cb23-4" aria-hidden="true"></a>        path <span class="op">=</span> <span class="st">&#39;data/wine-quality.csv&#39;</span>,</span>
<span id="cb23-5"><a href="#cb23-5" aria-hidden="true"></a>        repo <span class="op">=</span> <span class="st">&#39;.&#39;</span>,</span>
<span id="cb23-6"><a href="#cb23-6" aria-hidden="true"></a>        <span class="co"># You can use different values for rev here.</span></span>
<span id="cb23-7"><a href="#cb23-7" aria-hidden="true"></a>        <span class="co"># This can be any revision such as a branch tag name or a comit hash</span></span>
<span id="cb23-8"><a href="#cb23-8" aria-hidden="true"></a>        <span class="co"># ref: https://dvc.org/doc/api-reference/get_url</span></span>
<span id="cb23-9"><a href="#cb23-9" aria-hidden="true"></a>        rev <span class="op">=</span> <span class="st">&#39;v2&#39;</span></span>
<span id="cb23-10"><a href="#cb23-10" aria-hidden="true"></a>    )</span>
<span id="cb23-11"><a href="#cb23-11" aria-hidden="true"></a></span>
<span id="cb23-12"><a href="#cb23-12" aria-hidden="true"></a><span class="co"># Then you can use the data in your favourite tool, eg: pandas;</span></span>
<span id="cb23-13"><a href="#cb23-13" aria-hidden="true"></a>data <span class="op">=</span> pd.read_csv(data_url)</span></code></pre></div>
<h3 id="using-dvc-command-line">1.7.2. Using dvc command line</h3>
<p><code>git checkout</code> combined with <code>dvc checkout</code> is one way to do this. Please refer to <a href="https://dvc.org/doc/command-reference/checkout">dvc checkout documentation</a> for more info.</p>
<h2 id="usage-with-mlflow">1.8. Usage with MLFlow</h2>
<p>For this, we’ll use <a href="https://github.com/mlflow/mlflow/blob/master/examples/sklearn_elasticnet_wine/train.py">this file from mlflow examples</a>.</p>
<p>This file has been downloaded to <a href="train.py">train.py</a>. ( <a href="https://github.com/mlflow/mlflow/blob/d743a40426d5dedbde395a4e6bbdeebadbccd4dc/examples/sklearn_elasticnet_wine/train.py">exact same version of file used can be accessed through this link</a> )</p>
<p>This guide shows <strong>one</strong> of the many ways you can use mlflow and dvc together. However, please note that these two tools also have some overlaps between their features which allow you to use these tools in many other different ways (either together or independently). Please follow the docs for <a href="">mlflow</a> and <a href="">dvc</a> for more info.</p>
<p>MLFlow allows to track hyperparameters, performance metrics, using a helpful python package. Values of python variables can be tracked across different runs by using the <code>log_param</code> function.</p>
<div class="sourceCode" id="cb24"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb24-1"><a href="#cb24-1" aria-hidden="true"></a>mlflow.log_param(<span class="st">&#39;data_url&#39;</span>, data_url)</span>
<span id="cb24-2"><a href="#cb24-2" aria-hidden="true"></a>mlflow.log_param(<span class="st">&#39;data_version&#39;</span>, VERSION)</span>
<span id="cb24-3"><a href="#cb24-3" aria-hidden="true"></a>mlflow.log_param(<span class="st">&#39;input_rows&#39;</span>, data.shape[<span class="dv">0</span>])</span>
<span id="cb24-4"><a href="#cb24-4" aria-hidden="true"></a>mlflow.log_param(<span class="st">&#39;input_cols&#39;</span>, data.shape[<span class="dv">1</span>]) </span></code></pre></div>
<p>MLFLow runs can be recorded using the following different methods [<a href="https://www.mlflow.org/docs/latest/tracking.html#where-runs-are-recorded">ref</a>]:</p>
<ul>
<li>Local file path</li>
<li>SQL db</li>
<li>MLflow tracking server</li>
<li>Databricks workspace</li>
</ul>
<p>For this example we’ll use a local file method. This is the easiest way to do things. But if we want to track and share our experiments with colleagues, using one of the <a href="https://www.mlflow.org/docs/latest/tracking.html#where-runs-are-recorded">other</a> supported methods to store experiment data is recommended.</p>
<p>Now let’s try two different experiments with two different versions of data:</p>
<p>open <a href="train.py">train.py</a> and find the following constants (lines 25 to 28):</p>
<div class="sourceCode" id="cb25"><pre class="sourceCode python"><code class="sourceCode python"><span id="cb25-1"><a href="#cb25-1" aria-hidden="true"></a><span class="co"># Constants for dvc</span></span>
<span id="cb25-2"><a href="#cb25-2" aria-hidden="true"></a>PATH <span class="op">=</span> <span class="st">&#39;data/wine-quality.csv&#39;</span></span>
<span id="cb25-3"><a href="#cb25-3" aria-hidden="true"></a>REPO <span class="op">=</span> <span class="st">&#39;.&#39;</span> <span class="co"># Path to the Git repo</span></span>
<span id="cb25-4"><a href="#cb25-4" aria-hidden="true"></a>VERSION <span class="op">=</span> <span class="st">&#39;v2&#39;</span> <span class="co"># This is the GitHub tag corresponding to the data version</span></span></code></pre></div>
<p>The <code>VERSION</code> constant here defines the GitHub tag associated with the data version we want to use. Run <a href="train.py">train.py</a> (<code>python train.py</code>) and see the results, now change the <code>VERSION</code> constant to <code>VERSION=v1</code> and run <a href="train.py">train.py</a> again. You can see based on the results that a different data version has been used.</p>
<p>You can now open the MLFlow ui by running,</p>
<div class="sourceCode" id="cb26"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb26-1"><a href="#cb26-1" aria-hidden="true"></a><span class="co"># activate virtual environment if you haven&#39;t already</span></span>
<span id="cb26-2"><a href="#cb26-2" aria-hidden="true"></a><span class="co"># . ./venv/bin/activate</span></span>
<span id="cb26-3"><a href="#cb26-3" aria-hidden="true"></a></span>
<span id="cb26-4"><a href="#cb26-4" aria-hidden="true"></a><span class="ex">mlflow</span> ui</span></code></pre></div>
<p>And visit http://127.0.0.1:5000/ to view experiments.</p>
<h1 id="appendix">2. Appendix</h1>
<h2 id="setting-up-python-environment-from-scratch">2.1. Setting up Python environment from scratch</h2>
<p>This section shows how to create the development environment from scratch.</p>
<p>Create virtual environment:</p>
<div class="sourceCode" id="cb27"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb27-1"><a href="#cb27-1" aria-hidden="true"></a><span class="ex">python</span> -m venv venv</span>
<span id="cb27-2"><a href="#cb27-2" aria-hidden="true"></a><span class="bu">.</span> <span class="ex">./venv/bin/activate</span></span></code></pre></div>
<p>Install dependencies:</p>
<div class="sourceCode" id="cb28"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb28-1"><a href="#cb28-1" aria-hidden="true"></a><span class="ex">pip</span> install mlflow</span>
<span id="cb28-2"><a href="#cb28-2" aria-hidden="true"></a><span class="co"># dvc has many installation options such as [all], [s3], [gdrive], etc.</span></span>
<span id="cb28-3"><a href="#cb28-3" aria-hidden="true"></a><span class="co"># Please refer to: https://dvc.org/doc/install/linux</span></span>
<span id="cb28-4"><a href="#cb28-4" aria-hidden="true"></a><span class="ex">pip</span> install dvc[gs]</span>
<span id="cb28-5"><a href="#cb28-5" aria-hidden="true"></a></span>
<span id="cb28-6"><a href="#cb28-6" aria-hidden="true"></a><span class="co"># Dependencies for the MLFlow, DVC combined tutorial</span></span>
<span id="cb28-7"><a href="#cb28-7" aria-hidden="true"></a><span class="ex">pip</span> install scikit-learn</span></code></pre></div>
<p>Freeze dependencies:</p>
<div class="sourceCode" id="cb29"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb29-1"><a href="#cb29-1" aria-hidden="true"></a><span class="ex">pip</span> freeze <span class="op">&gt;</span> requirements.txt</span></code></pre></div>
<h2 id="setting-up-gsutil-if-you-are-using-gcp-storage-as-a-remote">2.2. Setting up gsutil if you are using GCP storage as a remote</h2>
<p>Please refer to <a href="https://cloud.google.com/sdk/docs/install#deb">this guide</a> to install and setup <code>gsutil</code> and make sure you are logged in.</p>
<p>Please refer to the relevent GCP section in <a href="https://dvc.org/doc/command-reference/remote/add">this guide</a> to see the most up to date information about setting up gcp credentials.</p>
<h1 id="references">3. References</h1>
<ol type="1">
<li><a href="https://www.youtube.com/watch?v=W2DvpCYw22o&amp;t">Data Versioning and Reproducible ML with DVC and MLflow - Youtube</a></li>
</ol>
