<h1 id="about-me">About me <!-- omit in toc --></h1>
<p>I’m a machine learning engineer with diverse experience in machine learning, CI/CD, Kubernetes, Agile/SCRUM and leading high performing teams.</p>
<p>You can find more details about me at:</p>
<p><a href="https://isuru.ca/cv.pdf">CV</a><br />
<a href="https://github.com/isuruwg">GitHub</a><br />
<a href="https://www.linkedin.com/in/isurug/">LinkedIn</a></p>
<h1 id="toc">TOC <!-- omit in toc --></h1>
<ul>
<li><a href="#1-cv">1. CV</a></li>
<li><a href="#2-source-for-this-website">2. Source for this website</a></li>
</ul>
<h1 id="cv">1. CV</h1>
<object data="https://isuru.ca/cv.pdf" type="application/pdf" width="700px" height="700px">
<embed src="https://isuru.ca/cv.pdf">
<p>
This browser does not support PDFs. Please download the PDF to view it: <a href="https://isuru.ca/cv.pdf">Download PDF</a>.
</p>
</embed>
</object>
<h1 id="source-for-this-website">2. Source for this website</h1>
<p>The source for this website can be found <a href="https://github.com/isuruwg/personal-website">here</a></p>
