<h1 id="about-me">About me <!-- omit in toc --></h1>
<ul>
<li>I’m a Machine Learning Engineer with 10+ years of expertise in text (NLP), audio, video and image processing<br />
</li>
<li>In addition to machine learning, I also have experience with Kubernetes, Docker, Google Cloud Platform (GCP) and Amazon Web Services (AWS)</li>
<li>I also have knowledge about Agile/SCRUM, DevOps and have led teams with diverse expertise to successfuly deploy machine learning models into production in cloud, hybrid and edge compute applications.</li>
</ul>
<p>You can find more details about me at:</p>
<ul>
<li><a href="https://github.com/isuruwg">GitHub</a><br />
</li>
<li><a href="https://www.linkedin.com/in/isurug/">LinkedIn</a></li>
<li><a href="https://isuru.ca/projects">My Projects</a></li>
<li><a href="https://isuru.ca/blog">Blog</a></li>
</ul>
<p>The source for this website can be found <a href="https://github.com/isuruwg/my-website">here</a></p>
